* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav h1{
    background-color: wheat;
    margin: 5px;
    padding: 2px;
    border-radius: 50px;
}


ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}



nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    cursor: pointer;
    color: wheat;
}

header{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hey{
    width: 70%;
    margin: 50px 0px 50px 0px;
    font-size: 30px;
}

hr{
    border: none;
    height: 2px;
    width: 90%;
    background-color: #333;
}

main{
    margin-top: 30px;
    width: 90%;

}

.FrontBag{
    display: flex;
    /* gap: 150px; */
    justify-content: space-between;
}

.para p{
    margin-top: 10px;
    width: 500px;
    font-size: 22px;
}

.FrontImg{
    margin-top: -30px;
}

.GitBag{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.GitImg{
    margin-top: -30px;
}

.GitPara{
    margin-top: 20px;
    width: 500px;
    font-size: 22px;
}

.SqlBag{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.SqlPara{
    margin-top: 20px;
    width: 500px;
    font-size: 22px;
}

.SqlImg{
    margin-top: -50px;
}